<!DOCTYPE html>
<html>
<head>
	<title>Culprit Finder Report</title>
	<meta charset="UTF-8">
	<style type="text/css">
		body {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			border: 1px solid #ddd;
    		padding: 8px;
		}

		th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #4CAF50;
			color: white;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.yellow { background-color: #ffffe3; }
		.orange { background-color: #ffebd9; }
		.red { background-color: #ffb5b5; }
		.black { background-color: #000; color: #fff; }
	</style>
</head>
<body>
<p>You are receiving this report because there is at least one remote branch you have contributed to where last contribution date is older than defined treshold. <strong>Please look for your name and take actions</strong>.</p>
<h1>Unmerged remote branches on backoffice-web</h1>
<table>
<thead>
	<tr>
		<th>Branch</th>
		<th>Last commit date</th>
		<th>Age</th>
		<th>Author</th>
	</tr>
</thead>
<tbody>